@import 'https://fonts.googleapis.com/css2?family=Secular+One&display=swap';
.flex_row, .primary_container {
  display: flex;
  flex-direction: row;
}

.flex_column, .created_flashcards div, .aside, .aside section, .flashcard_container, .main fieldset, .main {
  display: flex;
  flex-direction: column;
}

.flex_center, .created_flashcards div, .aside, .aside section, .main {
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Secular One", sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

textarea {
  resize: none;
}

input, textarea {
  background-color: #000000;
  color: #808080;
  border-bottom: 1px solid #FFFFFF;
}

.header-container {
  padding: 0.5rem;
  width: 100%;
  height: 5rem;
  background-color: #21D633;
  display: flex;
}
.header-container h1 {
  align-self: center;
  color: #FFFFFF;
}

.primary_container {
  padding: 0.5rem;
  color: #FFFFFF;
  width: 100%;
  height: 80%;
}

.main {
  justify-content: flex-start;
  width: 60%;
  height: 100%;
  border-right: 1px solid white;
}
.main fieldset {
  margin-top: 1.5rem;
  width: 20rem;
  height: 20rem;
}
.main fieldset legend {
  text-align: center;
  margin-bottom: 0.2rem;
}

.flashcard_container {
  max-height: 100%;
}
.flashcard_container input, .flashcard_container textarea {
  padding: 0.5rem;
}
.flashcard_container label {
  margin-top: 0.5rem;
}
.flashcard_container label#color_label {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: filter 0.3s ease;
  border-radius: 2rem;
}
.flashcard_container label#color_label:hover {
  filter: brightness(70%);
}
.flashcard_container label#color_label input {
  display: none;
}
.flashcard_container button.save_flashcard {
  width: 100%;
  height: 2.5rem;
  margin-top: 2rem;
  background: transparent;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  transition: background 0.2s ease-in-out;
}
.flashcard_container button.save_flashcard:hover {
  background: #FFFFFF;
  color: #000000;
}

.aside, .aside section {
  padding: 0.5rem;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}
.aside section {
  width: 100%;
  height: 100%;
}

.created_flashcards {
  padding: 1rem;
  display: grid;
  height: 40rem;
  max-width: 40rem;
  max-height: 60rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  overflow: auto;
}
.created_flashcards div {
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  transition: filter 0.3s ease;
}
.created_flashcards div .question, .created_flashcards div .answer {
  display: block;
  word-break: break-all;
  cursor: pointer;
}
.created_flashcards div .question:hover, .created_flashcards div .answer:hover {
  filter: brightness(70%);
}
.created_flashcards div .answer {
  display: none;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  .created_flashcards {
    max-width: 60rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 580px) {
  :root {
    font-size: 10px;
  }
}
@media screen and (max-width: 520px) {
  .primary_container {
    flex-direction: column;
  }
  .primary_container .main {
    padding: 1rem;
    width: 100%;
    border-left: none;
    border-bottom: 0.1rem solid #FFFFFF;
  }
  .primary_container .aside, .primary_container .aside section, .aside .primary_container section {
    margin-top: 0.5rem;
    width: 100%;
  }
  .primary_container .aside .created_flashcards, .aside .primary_container section .created_flashcards {
    grid-template-columns: 1fr 1fr;
  }
  .primary_container .aside #section_title, .aside .primary_container section #section_title {
    border-bottom: 1px solid #FFFFFF;
  }
}

/*# sourceMappingURL=index.css.map */
